@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

.tamanho {
  width: 60%;
  margin: auto;
}

.cardapio-container {
  display: flex;
  flex-direction: column;
  gap: 10px;

}

html {
  background-image: url("./imagens/Logo_Restaurante_V2.jpeg");
  background-size: 10%;
  
}

h1 {
  text-align: center;
  font-size: 70px;
  font-family: "Kaushan Script", cursive;
}

h2 {
  text-align: center;
  text-decoration: underline;
  font-size: 50px;
}

h3 {
  font-size: 40px;
  text-align: center;
}

.categoria {
  background-color: rgba(224, 80, 80, 0.228);
  border: 5px dotted red;
  border-radius: 20px;
  padding: 20px;
  margin: 10px 0;
}

.prato-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 2px double brown;
  background-color: rgba(165, 42, 42, 0.228);
  border-radius: 20px;
  padding: 10px;
}

.prato-container img {
  border-radius: 50%;
}

.titulo-prato {
  font-family: "Kaushan Script", cursive;
  font-size: 30px;
}

.descricao-prato {
  font-size: 20px;
  font-style: italic;
}

.preco-prato {
  font-size: 30px;
  transition: all 0.3s ease-in-out;
}

.preco-prato:hover {
  font-size: 35px;
  color: red;
  text-shadow: 2px 2px 2px black;
}

footer {
  background-color: rgba(128, 128, 128, 0.253);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
  font-size: 20px;
  padding: 10px;
}

footer div p {
  line-height: 15px;
}